.button {
  padding: 10px 15px;
  background-color: $primary-color;
  color: #fff;
  transition: 250ms all ease-in-out;
  border: none;
  outline: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    background-color: lighten($secondary-color, 8%);
  }

  &-secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: lighten($secondary-color, 8%);
    }
  }
}



.btn-home {
  // -webkit-transition-duration: 0.4s; /* Safari */
  // transition-duration: 0.4s;
  // padding: 10px 15px;
  // background-color: $secondary-color;
  // color: #fff;
  // border: none;
  // outline: none;
  // border-radius: 10px;
  // position: absolute;
  // margin-left: 270px;
  // display: flex;
  // bottom: 14%;
  text-align: center;
  width: 200px;
  padding: 12px;
  margin:20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #376e6f;
  color:white;

  &:hover {
    text-align: center;

    cursor: pointer;
    background-color: lighten($secondary-color, 8%);
  }
}
.pink{
  background-color: $secondary-color !important;
  font-weight: bold;

  &:hover{
    cursor: pointer;
  }
}

.input {
  border-radius: 10px;
  border: 1px solid $primary-color;
  transition: 250ms all ease-in-out;
  outline: none;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.233);
  font-size: 16px;
  min-width: 250px;
  max-width: 100%;
  color: $grey;
  text-align: center;

  &:focus {
    border-color: $grey;
    color: white;
  }
}

.input-post {
  background-color: white;
  color: $primary-color;
  &:focus {
    color: $primary-color;
  }
}

.separator {
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: $grey;
  border: none;
  outline: none;
}

.link {
  color: $primary-color;
  text-decoration: none;
  transition: 250ms all ease-in-out;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: lighten($primary-color, 8%);
  }
}
