.main {
  margin: 0 auto;
  padding: 0 auto;
  background-color: #2f4454;
}
.card-deck {
  margin-bottom: 10px;
}

.card {
  width: 400px;
  margin: 50px;
}
.postbody {
  margin: 0 auto;
}

.btn-primary {
  // border-color: black !important;
  background: $primary-color !important;
}

.dropsearch {
  border: 1px white solid;
  background-color: white !important;
  padding: 0 !important;
}

.postbody {
  border: 2px solid #4b2cd4;
  border-radius: 12px;
  margin: 20px;
  background-color: white;
  // padding: 20px;
  width: 400px;
}

.userpost {
  display: flex;
  flex-direction: row;
}

.user {
  margin: 20px;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.caption {
  margin-left: 20px;
}

.profilePicture {
  border-radius: 50%;
  margin-right: 20px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  text-align: center;
}

.flex-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-songInfo {
  text-align: center;
}

.input-box {
  width: 400px;
  height: 50px;
  border-radius: 12px;
  border: 2px solid #4b2cd4;
  background-color: #e6e6fa;
  text-align: center;
}

.input-container {
  text-align: center;
}

.spotify-link {
  float: right;
}

.scrollbar {
  float: left;
  height: 80px;
  width: 100%;
  background: #f5f5f5;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 5px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.flex-comment {
  display: flex;
  flex-direction: row;
}

.delete-img {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 45%;
}

.date {
  color: rgb(105, 103, 103);
}

.btnOnImg {
  position: relative;
  text-align: center;
  color: white;
}

.audio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-comment {
  width: 260px;
  border-radius: 8px;
}
