.userpost{
  display: flex;
background-color:silver;
justify-content:flex-start;
align-items: baseline;
}
.songinfo{
  // display:flex;
//  margin: 0 40px;
}


.profilepicture{
  border-radius: 50%;
}


.main{
  margin: 0 auto;
  padding: 0 40px;
}

.postbody{
  margin: 0 auto;
}