$primary-color: #2f4454;
$secondary-color: #da7b93;
$text-color: white;
$grey: #2e151b;
$light-green: #376e6f;
$green: #1c3334;
@import "./base.scss";
@import "./components.scss";
@import "./navigation.scss";
@import "./feed.scss";
