.navigation {
  background-color: $primary-color;
}

.nav-content {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}


.navChild{
  display: flex;
}