.navigation {
  background-color: #376e6f;
  font-size: 1.2em;
}
.nav-content {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}

.navChild {
  display: flex;
  padding-top: 20px;
}

footer {
  background-color: #244747ea;
  color: white;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav-profile {
  border-radius: 50px;
}

.nav-logo {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 2em;
  line-height: 50%;
}

.icon-logOut {
  padding-top: 23px;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.column-flex p {
  font-size: 0.7em;
}
